

.about-first-sec {
        /*background: url('https://maybragdondev.lib.rochester.edu/sites/all/themes/may_bragdon_theme/images/about.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;*/
}

.about-top-img-container {
    margin-top: -40px;
}

.about-top-img {
    width: 100%;
    height: auto;
}
.about-text {
    color: white;
    font-size: 17px;
    font-family: 'Merriweather', serif;
}
.about-text span {
    font-size: 27px;
    display: block;
    padding-bottom: 25px;
}
.about-text-sub{
    /*background: #004272;*/
    width: 100%;
    color: white;
    font-size: 17px;
    font-family: 'Merriweather', serif;
    padding: 0 0 100px 0;
    color: #DFF1F9;
}
.about-text-sub .container{
}
.about-text-container{
    margin-top: -150px;
}
.about-mayb-img{
    width: 100%;
    height: auto;
    float: left;
}
#section-intro {
    background: #004272;
}
#section-about-mayb{
    background: ;
}

@media (max-width: 768px) {
    .about-text {
        margin-top: 20px;
        font-size: 13px;
    }
    .about-text-sub .container{
        margin-top: 0;
    }
    .about-text-sub{
        font-size: 15px;
    }
    .about-text-container{
        margin-top: -50px;
    }
    .about-text span {
        font-size: 20px;
    }
}
