

/* Page Structure
-----------------------------------*/

/*header color*/
.diary-page-class .navbar-default {
  position:relative;
  top: 0;
  background: black;
}

/* Tabs */
.diary-page-class .tab-container-edit-screens {
  position: fixed;
      z-index: 5000;
      bottom: 0px;
      left: 10px;
}

.diary-page-class .region.region-content {
    margin-top: 0;
    width: 85%;

}



/* Viewer
-----------------------------------*/
#book-viewer {
    width: 100%;
}


#paged-tei-seadragon-viewer-seadragon-pane {
  width: 55%;
  position: absolute;
  left: 30%;
  right: 0;
  bottom: 0;
  top: 50px;
  /*background: black;*/
}


/* Viewer Toolbars*/


/*Right toolbar*/
.paged-tei-seadragon-viewer-right-toolbar {
    position: absolute;
    width: 55%;
    margin: auto;
    text-align: center;
    left: 45%;
    z-index: 6000;
}



/* Files
-----------------------------------*/

/* Removing the download links temporarly */
.paged-tei-seadragon-viewer-download-datastreams {
  display: none;
}


/* Inclusions
-----------------------------------*/
.inclusion-sidebar .region.region-sidebar-second{
  float: left;
  width: 15%;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 50px;
  bottom: 0;
  padding: 1% 0% 15% 1%;
  background-color: #333333;

}
/* Hiding the front/back text */
.inclusion-sidebar .region.region-sidebar-second h3{
  display: none;
}

.islandora-compound-thumb,
 .islandora-compound-thumbs{
     border: none;
}


.islandora-compound-thumbs img.active,
.islandora-compound-thumbs img {
  border: none;
}

/* TEI Region
-----------------------------------*/

/*Moved from Viewer div*/
.paged-tei-seadragon-viewer-left-toolbar {
    padding: 10px;
    position: fixed;
    left: 0px;
    width: 30%;
    border-bottom: 1px solid lightgray;
    text-align: center;
    background: white;
    z-index: 2000;
}


.tei {
    color: black;
    margin: 15%;
}

.tei .body {
    margin-top: -375px; /*Moves text up*/
    padding: 0;
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Merriweather', serif;
    width: 128%;
    margin-left: -30px;
}
.tei > div {
    line-height: 20px;
}
/*#paged-tei-seadragon-viewer-tei-pane {
  overflow-x: hidden;
  position: absolute;
  bottom: 0;
  top: 50px;
  width: 20%;
}*/

.tei .div .p {
    text-align: left;
}

#paged-tei-seadragon-viewer-tei {
    overflow-x: hidden;
    max-height: 5000px;
    position: absolute;
    width: 30%;
    top: 91px;
    bottom: 0;
    min-height: 100%;
    background: white;
}

/* Removes the toggle button for TEI */
button#paged-tei-seadragon-viewer-tei-toggle {
    display: none;
}

/* Removes the second page label */
label.control-label {
    display: none;
}

/*


.main-container.container {
    width: 100%;
        padding: 0;
}

.content-h-c {
    min-height: 100%;
    border: 1px solid gray;
  }



  div#paged-tei-seadragon-viewer-seadragon-pane {
      width: 35%;
      float: left;
  }

  #paged-tei-seadragon-viewer-tei-pane {
      width: 30%;
      float: left;
  }


  .paged-tei-seadragon-viewer-download-datastreams {
      display: block;
      border: 1px solid blue;
      float: left;
  }

  section#block-islandora-compound-object-compound-navigation {
    float: left;
    width: 15%;
}*/
