

/* Page Structure
-----------------------------------*/

/* Bottom Bar */
.diary-subnav{
    background: white;
    display: block;
    width: 35%;
    border-top: 1px solid lightgray;
    position: absolute;
    bottom: 0;
    height: 33px;
    left: 0;
    z-index: 100;
}


/* Pages Link */
.page-link {
    position: absolute;
    z-index: 1000;
    display: block;
    left: 300px;
    bottom: 6px;
}


/*Page Title*/
.diary-page-class .basic-page-title {
    font-size: 16px;
    border: none;
    color: white;
    font-weight: 100;
    float: left;
    /* padding: 0; */
    position: absolute;
    margin: 0;
    left: 40%;
    top: 16px;
    right: 0;
    /* padding-top: 12px; */
}
.diary-page-class .page-title-wrapper {
    margin-top: 0;
}

.diary-page-class .region.region-content {
    margin-top: 0;
    width: 85%;
}

/* Alert Messages */
.alert-messages-container {
  width: 70%;
  position: absolute;
  z-index: 6000;
  top: 60px;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.9;
}

/*header color*/
.diary-page-class .navbar-default {
  position:relative;
  top: 0;
  background: black;
}

/* Tabs */
.diary-page-class .tab-container-edit-screens {
    position: fixed;
    z-index: 999;
    bottom: 0px;
    left: 0px;
    background: white;
    width: 35%;
    border-top: 1px solid lightgray;
}
.diary-page-class .nav-tabs {
  border-bottom: none;
  margin: 0;
  width: 350px;
  margin: auto;
}
.diary-page-class .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
}

.diary-page-class .diary-page-tabs .nav > li > a {
    position: relative;
    display: block;
    padding: 5px 9px;
}
.not-logged-in .diary-page-class .tab-container-edit-screens {
  display: none;
}
/*.diary-page-class .nav-tabs > li.active > a,{
  display: none!important;
}*/


/* Cite this button
-----------------------------------*/
.diary-page-cite .btn-default {
    color: #333;
    background-color: #fff;
    position: absolute;
    z-index: 500;
    left: 0;
    width: 95px;
    bottom: 0;
    border: none;
}
.logged-in .diary-page-cite .btn-default {
  bottom: 51px;
}

/* Viewer
-----------------------------------*/
#book-viewer {
    width: 100%;
}

#paged-tei-seadragon-viewer-seadragon-pane {
  width: 50%;
  position: absolute;
  left: 35%;
  right: 0;
  bottom: 0;
  top: 50px;
}

/* Viewer Toolbars*/

/*Right toolbar
- Moved to the TEI area
*/
.paged-tei-seadragon-viewer-right-toolbar {
    /*position: absolute;
    width: 55%;
    margin: auto;
    text-align: center;
    left: 45%;
    z-index: 500;*/
    position: fixed;
    width: 100px;
    margin: auto;
    text-align: center;
    left: 50%;
    top: 50%;
    height: 100px;
    z-index: 500;
    /*border: 1px solid yellow;*/
    /*background-size: 100px 100px;*/
}

/* Removing View Occludded Buttons  */
#tei-viewer-occluded {
  display: none;
}

/* Removing Clip and Annotate Icon/links */
#tei-viewer-annotate,
.paged-tei-seadragon-viewer-right-toolbar a#clip {
    display: none;
}

/* adding padding for buttons */
.diary-page-class button img {
    padding: 3px!important;
    width: 35px;
    height: auto;
}

/*//*/




/* Files
-----------------------------------*/

.paged-tei-seadragon-viewer-download-datastreams {
    display: block;
    position: absolute;
    z-index: 1001;
    bottom: 20px;
    left: 35%;
    padding: 5px;
    width: 50%;
    color: lightgray;
    background: rgba(0, 0, 0, 0.5);
}
.paged-tei-seadragon-viewer-download-datastreams a {
    color: white;
    background: #3f444c;
    padding: 3px 8px;
    border-radius: 2px;
}
.paged-tei-seadragon-viewer-download-datastreams a:hover {
    background: #565c66;
    text-decoration: none;
}
.paged-tei-seadragon-viewer-download-datastreams strong{
    font-weight: 400;
}
/* Hiding the JPG option */
div#paged-tei-seadragon-viewer-download-datastream-JP2 {
    display: none;
}
#paged-tei-seadragon-viewer-download-datastream-PDF {
    display: inline-block;
    float: right;
    padding-right: 15px;
    padding-top: 3px;
}



.12345{
    color: red;
    font-size: 5px;
}

/* Inclusions Pane
-----------------------------------*/

.diary-page-class .inclusion-sidebar .region.region-sidebar-second{
  float: left;
  width: 15%;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 50px;
  bottom: 0;
  padding: 1% 0 0 1%;
  background-color: #30343b;

}
.inclusion-sidebar .region.region-sidebar-second .inclusion-label {
  display: block;
  color: white;
  font-size: 11px;
  position: relative;
  top: 20px;
  left: 0px;
  background: black;
  width: 50px;
  text-align: center;
  text-transform: uppercase;
  opacity: .6;
  padding: 2px;
}

.islandora-compound-thumb,
.islandora-compound-thumbs{
   border: none;
}

.islandora-compound-thumbs img.active,
.islandora-compound-thumbs img {
    border: none;
    width: 100%;
}

/* Making back look closed to front */
.inclusion-label.label-1,
.inclusion-label.label-2,
.inclusion-label.label-3 {
    margin-top: -38px;
}

.islandora-compound-title {
    color: gray;
}

/* Original Manuscript Img  */
#roch-tei-viewer-occluded {
    padding: 5px 18px 17px 0px;
}
#roch-tei-viewer-occluded img {
    width: 100%;
}

/*//*/


/* Transcription Pane
-----------------------------------*/

/*.tei br:nth-child(even) {
    display: none;
}*/

/*p br:first-child {
    display: block!important;
    border: none!important;
}*/


/* Removing the P tag style */
.tei .p {
  margin: 0!important;
}

/* Fixing wierd .div issue */
.tei .div .p {
  display: inline;
}
.tei .body > .div {
    display: inline;
    counter-increment: div1;
    counter-reset: div2;
    margin: 0;
}

/* Removing the ""|"" @ the begining
of a line */
.date + br,
.caption + br {
  display: none;
}
/*.body br:last-child {
    display: none;
}*/

/*.seg.class--rend--undone {
    color: red!important;
}*/

.class--rend--overwrite {
    text-decoration: line-through;
    opacity: 0.5;
}

/*.seg.class--rend--undone {
    color: red!important;
}*/


/* Page Select Menu */
.diary-page-class .uneditable-input, input, select, textarea {
    max-width: 100%;
    width: auto;
    background: white;
    font-size: 18px;
}

/*Moved from Viewer div*/
.paged-tei-seadragon-viewer-left-toolbar {
    padding: 7px;
    position: fixed;
    left: 0px;
    width: 35%;
    border-bottom: 1px solid lightgray;
    text-align: center;
    background: white;
    z-index: 500;
    white-space: nowrap;
}
.paged-tei-seadragon-viewer-left-toolbar img {
    width: 14px;
    height: auto;
    margin: 0px 27px;
    opacity: 0.7;
}
.paged-tei-seadragon-viewer-left-toolbar img:hover {
    opacity: 1;
}

.tei {
    color: black;
    margin: 0;
    margin-top: 10px;
}

.tei .body {
    margin-top: 0; /*Moves text up*/
    padding: 0;
    font-size: 15px;
    line-height: 1.3;
    font-family: 'Merriweather', serif;
    width: 100%;
    padding-bottom: 100px;
    padding-top: 30px;
    /*white-space: nowrap;*/
    /*margin-left: -30px;*/
}
.tei > div {
    line-height: 20px;
}


/* Removing elements that we
don't understand */
.tei .super-magic,
.tei .sub-magic,
.tei .facsimile, {
  display: none;
}

/* Temp removing head */
span.head {display: none;}

/*#paged-tei-seadragon-viewer-tei-pane {
  overflow-x: hidden;
  position: absolute;
  bottom: 0;
  top: 50px;
  width: 20%;
}*/

.tei .div .p {
    text-align: left;
}
#paged-tei-seadragon-viewer-tei {
    overflow-x: hidden;
    max-height: 5000px;
    position: absolute;
    width: 35%;
    top: 91px;
    bottom: 0;
    background: #fffdf5;
    padding: 0px 30px 60px 30px;
}

/* Removes the toggle button for TEI */
button#paged-tei-seadragon-viewer-tei-toggle {
    display: none;
}
/* Removes the second page label */
label.control-label {
    display: none;
}


/* - Elements inside TEI - */

.tei div {
     font-family: FontAwesome;
}
.note::before {
    display: none;
}
.tei.reading div.note {
    display: inline-block;
    font-size: 18px;
    margin: 0 3px;
}
.note i:hover {
    color: black;
    cursor: pointer;
}

/* Note popover */
.tei .popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    line-break: auto;
}
.popover-content {
    padding: 9px 14px!important;
}


.tei .div .persName,
.tei .div .placeName,
.tei .div .orgName,
.tei .div .title,
.tei .div .name {
  color: inherit;
  text-decoration: none;
}
.tei .div .persName:hover,
.tei .div .placeName:hover,
.tei .div .orgName:hover,
.tei .div .title:hover,
.tei .div .name:hover {
  color: inherit;
  text-decoration: none;
}
.tei .div .persName[data-ref],
.tei .div .placeName[data-ref],
.tei .div .orgName[data-ref],
.tei .div .title[data-ref],
.tei .div .name[data-ref]{
    color: black;
    font-weight: 400;
    /*border: 1px solid #eae7da;*/
    padding: 0px 2px;
    border-bottom: 2px solid #248ED1
}
.tei .div .persName[data-ref]:hover,
.tei .div .placeName[data-ref]:hover,
.tei .div .orgName[data-ref]:hover,
.tei .div .title[data-ref]:hover,
.tei .div .name[data-ref]:hover {
    border-bottom:2px solid gray;
    cursor: pointer;
}

.tei .date {
  font-size: 14px;
  text-transform: uppercase;
  /*border-bottom: 1px solid lightgray;*/
  border-bottom: double lightgray;
  display: block;
  width: 120%;
  color: gray;
  text-align: left;
  margin-left: -55px;
  margin-top: 41px;
  margin-bottom: 30px;
  padding: 0px 0px 8px 45px;
  /*white-space: nowrap;*/
}

.tei .class--rend--underline {
    border-bottom: 1px dotted #989690;
    background-color: transparent;
    text-decoration: none;
}


/*  removing indent */
.tei p {
    text-indent: 0!important;
    display: inline;
}

.diary-page-class .caption {
  font-family: sans-serif;
  font-style: italic;
  color: gray;
  font-weight: 200;
  display: block;
}

/* Making nested elements look better  */
.hi.class--rend--underwrite .persName,
.hi.class--rend--underwrite .placeName,
.hi.class--rend--underwrite .orgName,
.hi.class--rend--underwrite .title,
.hi.class--rend--underwrite .name  {
    border: none;
}
.caption .persName,
.caption .placeName,
.caption .orgName,
.caption .title,
.caption .name  {
    margin: 0 8px;
    color: gray;
}
.caption .date {
  border: none;
  display: inline;
  margin: 0;
  padding: 0;
}

/* When element is nested inside .name */

.name .placeName:hover {
    border-bottom: 3px solid black!important;
}

/* Fixing date styles - P. 3 */
span.date.page_p__000c.diary_A_B81_076A {
  color: black;
  margin: 0;
  border: none;
  text-transform: inherit;
  display: inline;
  padding: 0;
  font-size: inherit;
}

/*//*/






/* Model Dialog
-----------------------------------*/

.modal-dialog{
    font-family: 'Merriweather', serif;
}
.modal-body{
    padding: 25px;
}
.modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    height: 55px;
    /* border-bottom: 1px solid #e5e5e5; */
    background: lightgray;
    border-radius: 4px 4px 0 0;
}
.modal-dialog note {
    display: block;
    margin: 23px 0 25px 0;
    font-size: 17px;
    font-weight: 100;
    border-top: 1px solid lightgray;
    padding-top: 13px;
}
.modal-dialog .close {
    /*float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;*/
}

/* XLT Display */
persname[type=display],
name[type=display],
placename[type=display],
label[type=display] {
    font-size: 20px;
    display: block;
    position: absolute;
    top: -43px;
    left: 21px;
}
persname[type=index],
persname[type=primary],
persname[type=aka],
name[type=index],
name[type=primary],
name[type=aka],
idno[type=LCNAF],
label[type=index],
label[type=primary],
label[type=alternate],
desc[type=place],
placename[type=index],
placename[type=primary],
placename[type=alternate],
address {
    display: block;
    color: gray;
    font-weight: 300;
}
birth[cert=high],
birth[cert=medium],
death[cert=high] {
    display: inline-block;
    color: gray;
    border-right: 1px solid lightgray;
    padding-right: 5px;
    font-weight: 300;
}
persname[type=aka],
name[type=aka]{
    font-style: italic;
}


/* Cite this
-----------------------------------*/
.tab-content {
    font-size: 17px;
    width: 91%;
    margin: auto;
    border: 1px dashed lightgray;
    padding: 30px 25px;
    background-color: #f3f8ff;
}

/* Media Queries
-----------------------------------*/

/* Largest  */
@media (min-width: 1701px) {
  .tei .body {
      font-size: 18px;
      line-height: 2;
    }
    #paged-tei-seadragon-viewer-tei {
      padding: 0px 30px 20px 60px;
    }
}
/* Very Large  */
@media (max-width: 1700px) {
  .tei .body {
      font-size: 17px;
      /*color: blue;*/
      line-height: 2;
    }
  #paged-tei-seadragon-viewer-tei {
    padding: 0px 30px 20px 25px;
  }
}
/* Large */
@media (max-width: 1200px) {
  .tei .body {
      font-size: 16px;
      /*color: red;*/
      line-height: 1.9;
    }
  #paged-tei-seadragon-viewer-tei {
    padding: 0px 25px 20px 25px;
  }
}
/* Main */
@media (max-width: 1000px) {
  .tei .body {
      font-size: 15px;
      /*color: green;*/
      line-height: 1.9;
    }
  #paged-tei-seadragon-viewer-tei {
    padding: 0px 15px 20px 25px;
  }
  .tei br {
    content: "A" !important;
    margin-bottom: 1.5em !important;
    border-right: 1px dotted #7cbcff;
    height: 17px;
    width: 4px;
    margin: 0 5px;
  }
  .diary-page-class .basic-page-title {
    left: 248px;
    font-size: 14px;
  }
  .navbar-brand img {
    width: 150px;
    padding-top: 4px;
  }
}
/* Small */
@media (max-width: 768px) {
  .tei .body {
    font-size: 13px;
    line-height: 1.8;
    /*color: lightblue;*/
    white-space: normal;
    }
  #paged-tei-seadragon-viewer-tei {
    padding: 0px 15px 20px 15px;
  }
  .tei br {
    content: "A" !important;
    margin-bottom: 1.5em !important;
    border-right: 1px dotted #7cbcff;
    height: 17px;
    width: 4px;
    margin: 0 5px;
  }
  .diary-page-class .basic-page-title {
    left: 248px;
    font-size: 14px;
  }
  .navbar-brand img {
    width: 150px;
    padding-top: 4px;
  }
}
