body, html {
  height:100%;
  width:100%;
  overflow: hidden;
  min-width: 768px;
  background-color: #30343b;
}

/* Hack to remove the view tab on the diary page */
.diary-page-tabs .nav-tabs li.active  a{
  display: none !important;
}

.diary-page-tabs .nav > li > a {
  padding: 3px 11px;
}


/* Navigation
-----------------------------------*/
.navbar-default {
  border-bottom: 1px solid #3c4049;
  padding-right: 30px;
}


/* Scrollbars
-----------------------------------*/


/* TEI SCROLLBAR */

#paged-tei-seadragon-viewer-tei::-webkit-scrollbar {
    width: 12px;
    margin-right: 5px;
}

/* Track */
#paged-tei-seadragon-viewer-tei::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
    background: #fffdf5;
}

/* Handle */
#paged-tei-seadragon-viewer-tei::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(96,96,96,0.5);
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
#paged-tei-seadragon-viewer-tei::-webkit-scrollbar-thumb:window-inactive {
    background: #eae8e2;
}



/* DEFAULT SCROLLBAR*/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(96,96,96,0.8);
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(96,96,96,0.4);
}
