#yourButton{
    height: 35px;
    position: absolute;
    z-index: 6000;
    top: 55px;
    left: 10px;
    border-radius: 5px;
    background: transparent;
    padding: 5px 10px;
    border: none;
}
#yourButton:hover,
#yourButton:focus{
    background: #e2e0da;
}
button {
    outline: 0;
}



.mobile-tabs {
    outline: 1px solid gray;
    position: absolute;
    z-index: 5000;
    top: 93px;
    width: 100%;
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.5);
}


/* Page Structure
-----------------------------------*/


/* Pages Link */
.page-link {
    position: absolute;
    z-index: 1001;
    display: block;
    left: 35.8%;
    width: auto;
    bottom: 15px;
}
.page-link a{
    color: white;
    text-decoration: none;
    padding: 7px 20px;
    background: rgba(0,0,0,0.5);
    border-radius: 3px;
    border: 1px solid gray;
}
.page-link a:hover{
background: #30343b;
}
/*icon*/
.page-link i {
    color: white;
    font-size: 20px;
}
.logged-in .page-link{
    bottom: 35px;
}

/*Page Title*/
.diary-page-class .basic-page-title {
    font-size: 16px;
    border: none;
    color: white;
    font-weight: 100;
    float: left;
    /* padding: 0; */
    position: absolute;
    margin: 0;
    left: 40%;
    top: 16px;
    right: 0;
    /* padding-top: 12px; */
}
.diary-page-class .page-title-wrapper {
    margin-top: 0;
}

.diary-page-class .region.region-content {
    margin-top: 0;
    width: 85%;
}

/* Alert Messages */
.alert-messages-container {
  width: 70%;
  position: absolute;
  z-index: 6000;
  top: 60px;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.9;
}

/*header color*/
.diary-page-class .navbar-default {
  position:relative;
  top: 0;
  background: black;
}

/* Tabs */
.diary-page-class .tab-container-edit-screens {
    position: fixed;
    z-index: 999;
    bottom: 0px;
    left: 0px;
    background: white;
    width: 35%;
    border-top: 1px solid lightgray;
}
.diary-page-class .nav-tabs {
  border-bottom: none;
  margin: 0;
  width: 350px;
  margin: auto;
}
.diary-page-class .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
}

.diary-page-class .diary-page-tabs .nav > li > a {
    position: relative;
    display: block;
    padding: 5px 9px;
}
.not-logged-in .diary-page-class .tab-container-edit-screens {
  display: none;
}
/*.diary-page-class .nav-tabs > li.active > a,{
  display: none!important;
}*/


/* Cite this button
-----------------------------------*/

.diary-page-cite {
    display: block;
    width: calc(35% -12px);
    width: calc(35% - 12px);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    height: 51px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(252,250,243,1) 98%, rgba(255,253,245,1) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(252,250,243,1) 98%,rgba(255,253,245,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(252,250,243,1) 98%,rgba(255,253,245,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#fffdf5',GradientType=0 ); /* IE6-9 */
}
.logged-in .diary-page-cite {
    bottom: 50px;
}

.diary-page-cite .btn-default {
    color: #333;
    background-color: white;
    border-color: #ccc;
    position: absolute;
    z-index: 500;
    left: 8px;
    width: 95px;
    bottom: 9px;
    border-radius: 5px;
}
.diary-page-cite .btn-default:hover {
    background: lightgray;
}
.logged-in .diary-page-cite .btn-default {
  /*bottom: 60px;*/
}

/* Viewer Pane
-----------------------------------*/

.openseadragon-container div:nth-child(3) {
    /*border: 1px solid red!important;*/
    position: absolute;
    right: 8px;
    left: initial;
    top: 104px!important;
    left: auto!important;
}

/* Arrow icons: Left and Right */
a#islandora-paged-tei-seadragon-navigate-left,
a#islandora-paged-tei-seadragon-navigate-right{
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 45%;
    height: 100px;
    width: 49px;
    border: 1px solid gray;
    display: block;
}
a#islandora-paged-tei-seadragon-navigate-left:hover,
a#islandora-paged-tei-seadragon-navigate-right:hover{
    background: #30343b;
}
/* Right arrow */
a#islandora-paged-tei-seadragon-navigate-right {
    right: 15%;
    border-radius: 5px 0 0 5px;
    border-right: none;
}
/* Left arrow */
a#islandora-paged-tei-seadragon-navigate-left {
    left: 35%;
    border-radius: 0 5px 5px 0;
    border-left: none;
}
a#islandora-paged-tei-seadragon-navigate-left img,
a#islandora-paged-tei-seadragon-navigate-right img {
    width: 26px;
    height: auto;
    position: absolute;
    top: 36%;
    bottom: 0;
    opacity: 0.7;
}
a#islandora-paged-tei-seadragon-navigate-left img{
    left: 17%;
}
a#islandora-paged-tei-seadragon-navigate-right img{
    right: 17%;
}
/*.paged-tei-seadragon-viewer-left-toolbar img:hover {
    opacity: 1;
}*/

#book-viewer {
    width: 100%;
}

#paged-tei-seadragon-viewer-seadragon-pane {
  width: 50%;
  position: absolute;
  left: 35%;
  right: 0;
  bottom: 0;
  top: 50px;
}

/* Viewer Toolbars*/

/*Right toolbar
- Moved to the TEI area
*/
.paged-tei-seadragon-viewer-right-toolbar {
    top: 10px;
    /* border: 1px solid white; */
    width: auto;
    /* border-radius: 5px; */
    /*padding: 5px 14px;*/
    position: absolute;
    left: 11px;
    z-index: 1000;
}
a#tei-viewer-original,
a#tei-viewer-manuscript {
    border: 1px solid gray;
    padding: 5px 20px;
    color: white;
    background: rgba(0,0,0,0.5)
}
a#tei-viewer-original:hover,
a#tei-viewer-manuscript:hover,
a#tei-viewer-original:focus,
a#tei-viewer-manuscript:focus {
    text-decoration: none;
    background: #30343b;
}
a#tei-viewer-original.active,
a#tei-viewer-manuscript.active {
    background: gray;
    pointer-events: none;
}
a#tei-viewer-original-only {
    color: white;
    padding: 8px 20px;
    background: rgba(0,0,0,0.5);
    pointer-events: none;
}
a#tei-viewer-original {
    border-radius: 5px 0 0 5px;
    margin-right: -4px;
}
a#tei-viewer-manuscript {
    border-radius: 0 5px 5px 0;
}
/* Original Only */
.tei-viewer-original-only {
    padding: 5px 10px;
    background: rgba(0,0,0,0.5);
    color: lightgray;
}

/* Removing View Occludded Buttons  */
#tei-viewer-occluded {
  display: none;
}

/* Removing Clip and Annotate Icon/links */
#tei-viewer-annotate,
.paged-tei-seadragon-viewer-right-toolbar a#clip {
    display: none;
}

/* adding padding for buttons */
.diary-page-class button img {
    padding: 3px!important;
    width: 35px;
    height: auto;
}

/*//*/




/* File Downloads Datastreams
-----------------------------------*/

.paged-tei-seadragon-viewer-download-datastreams {
    display: block;
    position: absolute;
    z-index: 1000;
    bottom: 5px;
    left: 35%;
    padding: 15px 5px 10px 5px;
    width: 50%;
    color: lightgray;
}
.paged-tei-seadragon-viewer-download-datastreams a {
    color: white;
    padding: 7px 20px;
    background: rgba(0,0,0,0.5);
    border-radius: 3px;
    border: 1px solid gray;
}
.paged-tei-seadragon-viewer-download-datastreams a:hover {
    background: #565c66;
    text-decoration: none;
}
.paged-tei-seadragon-viewer-download-datastreams strong{
    /*font-weight: 400;*/
    display: none;
}
.logged-in .paged-tei-seadragon-viewer-download-datastreams {
    bottom: 24px;
}
/* Hiding the PDF option */
div#paged-tei-seadragon-viewer-download-datastream-PDF {
    display: none;
}
#paged-tei-seadragon-viewer-download-datastream-JP2 {
    display: inline-block;
    float: right;
    padding-right: 15px;
    padding-top: 3px;
    pointer-events: all;
}
div#paged-tei-seadragon-viewer-download-datastream-JP2 span {
    color: lightgray;
    font-size: 12px;
    font-weight: bold;
}


.12345{
    color: red;
    font-size: 5px;
}

/* Inclusions Pane
-----------------------------------*/

.diary-page-class .inclusion-sidebar .region.region-sidebar-second{
  float: left;
  width: 15%;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 50px;
  bottom: 0;
  padding: 1% 0 0 1%;
  background-color: #30343b;

}

.logged-in .diary-page-class .inclusion-sidebar .region.region-sidebar-second {
    bottom: 20px;
}
.inclusion-sidebar .region.region-sidebar-second .inclusion-label {
  display: block;
  color: white;
  font-size: 11px;
  position: relative;
  top: 20px;
  left: 0px;
  background: black;
  width: 50px;
  text-align: center;
  text-transform: uppercase;
  opacity: .6;
  padding: 2px;
}

.islandora-compound-thumb,
.islandora-compound-thumbs{
   border: none;
}

.islandora-compound-thumbs img.active,
.islandora-compound-thumbs img {
    border: none;
    width: 100%;
}

/* Making back look closed to front */
.inclusion-label.label-1,
.inclusion-label.label-2,
.inclusion-label.label-3 {
    margin-top: -38px;
}

.islandora-compound-title {
    color: gray;
}

/* Original Manuscript Img  */
#roch-tei-viewer-occluded {
    padding: 5px 18px 17px 0px;
}
#roch-tei-viewer-occluded img {
    width: 100%;
}

/*//*/


/* Transcription Pane
-----------------------------------*/

/* Removing the P tag style */
.tei .p {
  margin: 0!important;
}

/* Fixing wierd .div issue */
.tei .div .p {
  display: inline;
}
.tei .body > .div {
    display: inline;
    counter-increment: div1;
    counter-reset: div2;
    margin: 0;
}

/* Removing the ""|"" @ the begining
of a line */
.date + br,
.caption + br {
  display: none;
}
/*.body br:last-child {
    display: none;
}*/

/*.seg.class--rend--undone {
    color: red!important;
}*/

.class--rend--overwrite {
    text-decoration: line-through;
    opacity: 0.5;
}

/*.seg.class--rend--undone {
    color: red!important;
}*/


/* Page Select Menu */
.diary-page-class .uneditable-input, input, select, textarea {
    max-width: 100%;
    width: auto;
    background: white;
    font-size: 18px;
}

/*Moved from Viewer div*/
.paged-tei-seadragon-viewer-left-toolbar {
    padding: 7px 7px 50px 7px;
    position: fixed;
    left: 0px;
    width: calc(35% - 12px);
    /*border-bottom: 1px solid lightgray;*/
    text-align: center;
    background: white;
    z-index: 500;
    white-space: nowrap;
    background: -moz-linear-gradient(top,  rgba(255,253,245,1) 32%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,253,245,1) 32%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,253,245,1) 32%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdf5', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.tei {
    color: black;
    margin: 0;
    margin-top: 10px;
}

.tei .body {
    margin-top: 0; /*Moves text up*/
    padding: 0;
    font-size: 14px;
    line-height: 1.3;
    font-family: 'Merriweather', serif;
    width: 100%;
    padding-bottom: 100px;
    padding-top: 30px;
    /*white-space: nowrap;*/
    /*margin-left: -30px;*/
}
.tei > div {
    line-height: 20px;
}


/* Removing elements that we
don't understand */
.tei .super-magic,
.tei .sub-magic,
.tei .facsimile, {
  display: none;
}

/* Temp removing head */
span.head {display: none;}

/*#paged-tei-seadragon-viewer-tei-pane {
  overflow-x: hidden;
  position: absolute;
  bottom: 0;
  top: 50px;
  width: 20%;
}*/

.tei .div .p {
    text-align: left;
}
#paged-tei-seadragon-viewer-tei {
    overflow-x: hidden;
    max-height: 5000px;
    position: absolute;
    width: 35%;
    top: 50px;
    bottom: 0;
    background: #fffdf5;
    padding: 0px 30px 60px 30px;
}
.logged-in #paged-tei-seadragon-viewer-tei {
    bottom:  52px;
}

/* Removes the toggle button for TEI */
button#paged-tei-seadragon-viewer-tei-toggle {
    display: none;
}
/* Removes the second page label */
label.control-label {
    display: none;
}


/* - Elements inside TEI - */

.tei div {
     font-family: FontAwesome;
}
.note::before {
    display: none;
}
.tei.reading div.note {
    display: inline-block;
    font-size: 18px;
    margin: 0 3px;
}
.note i:hover {
    color: black;
    cursor: pointer;
}

/* Note popover */
.tei .popover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    line-break: auto;
}
.popover-content {
    padding: 9px 14px!important;
}


.tei .div .persName,
.tei .div .placeName,
.tei .div .orgName,
.tei .div .title,
.tei .div .name {
  color: inherit;
  text-decoration: none;
}
.tei .div .persName:hover,
.tei .div .placeName:hover,
.tei .div .orgName:hover,
.tei .div .title:hover,
.tei .div .name:hover {
  color: inherit;
  text-decoration: none;
}
.tei .div .persName[data-ref],
.tei .div .placeName[data-ref],
.tei .div .orgName[data-ref],
.tei .div .title[data-ref],
.tei .div .name[data-ref]{
    color: black;
    font-weight: 400;
    /*border: 1px solid #eae7da;*/
    padding: 0px 2px;
    border-bottom: 2px solid #248ED1
}
.tei .div .persName[data-ref]:hover,
.tei .div .placeName[data-ref]:hover,
.tei .div .orgName[data-ref]:hover,
.tei .div .title[data-ref]:hover,
.tei .div .name[data-ref]:hover {
    border-bottom:2px solid gray;
    cursor: pointer;
}

.tei .date {
  /*font-size: 14px;
  text-transform: uppercase;
  border-bottom: double lightgray;
  display: block;
  width: 120%;
  color: gray;
  text-align: left;
  margin-left: -55px;
  margin-top: 41px;
  margin-bottom: 30px;
  padding: 0px 0px 8px 45px;*/
  /* Testing out new way */
    display: block;
    width: 120%;
    font-weight: bold;
    padding: 15px 0 0 0;
}

.tei .class--rend--underline {
    border-bottom: 1px solid #989690;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}


/*  removing indent */
.tei p {
    text-indent: 0!important;
    display: inline;
}

.diary-page-class .caption {
  font-family: sans-serif;
  font-style: italic;
  color: gray;
  font-weight: 200;
  display: block;
}

/* Making nested elements look better  */
.hi.class--rend--underwrite .persName,
.hi.class--rend--underwrite .placeName,
.hi.class--rend--underwrite .orgName,
.hi.class--rend--underwrite .title,
.hi.class--rend--underwrite .name  {
    border: none;
}
.caption .persName,
.caption .placeName,
.caption .orgName,
.caption .title,
.caption .name  {
    margin: 0 8px;
    color: gray;
}
.caption .date {
  border: none;
  display: inline;
  margin: 0;
  padding: 0;
}

/* When element is nested inside .name */

.name .placeName:hover {
    border-bottom: 3px solid black!important;
}

/* Fixing date styles - P. 3 */
span.date.page_p__000c.diary_A_B81_076A {
  color: black;
  margin: 0;
  border: none;
  text-transform: inherit;
  display: inline;
  padding: 0;
  font-size: inherit;
}

/*//*/






/* Model Dialog
-----------------------------------*/

.modal-dialog{
    font-family: 'Merriweather', serif;
}
.modal-body{
    padding: 25px;
}
.citation-modal .modal-header{
    border: none;
}
.citation-modal .modal-footer {
    border: none;
}
.ograpy-modal .modal-header {
    min-height: 16.42857143px;
        padding: 15px;
        height: 75px;
        /* border-bottom: 1px solid #e5e5e5; */
        /* background: lightgray; */
        border-radius: 4px 4px 0 0;
}
.modal-dialog note {
    display: block;
    margin: 20px 0 35px 0;
    font-size: 15px;
    font-weight: 100;
    padding-top: 13px;
}
.modal-dialog .close {
    /*float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;*/
}

/* XLT Display */
persname[type=display],
name[type=display],
placename[type=display],
label[type=display] {
    font-size: 20px;
    display: block;
    margin-top: -86px;
}

persname span.para {
    color: gray;
    font-size: 14px;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}
address {
    display: block;
    color: gray;
    font-weight: 300;
}
persname[type=index],
persname[type=primary],
name[type=index],
name[type=primary],
idno[type=LCNAF],
label[type=index],
label[type=primary],
label[type=alternate],
desc[type=place],
placename[type=index],
placename[type=primary],
placename[type=alternate] {
    display: block;
    color: gray;
    font-weight: 300;
    display: none;
}
birth[cert=high],
birth[cert=medium],
death[cert=high],
death[cert=medium] {
    display: inline-block;
    color: gray;
    border-right: 1px solid lightgray;
    padding-right: 5px;
    font-weight: 300;
    display: none;
}
persname[type=aka],
name[type=aka]{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    color: #585858;
    display: inline-block;
    background: #ebebeb;
    padding: 5px 10px;
}




/* Cite this
-----------------------------------*/
.tab-content {
    font-size: 17px;
    margin: auto;
    border: 1px dashed lightgray;
    padding: 30px 25px;
    background-color: #f3f8ff;
}





/*Radio Button Tabs*/

input.stv-radio-tab {
  position: absolute;
  left: -99999em;
  top: -99999em;
}
input.stv-radio-tab + label {
    cursor: pointer;
    float: left;
    outline: 1px solid gray;
    border-bottom: 0;
    background-color: black;
    margin-right: -1px;
    padding: .5em 1em;
    width: 33%;
    position: relative;
}

.wider-tab{
    width: 34%;
}

input.stv-radio-tab + label:hover {
  background-color: lightgray;
}
input.stv-radio-tab:checked + label {
  background-color: gray;
  border: none;
    z-index: 1;
}

/**/






.tei br{
    content: "A" !important;
    display: block;
    border-bottom: 1px solid #e8e6dc;
    width: 100%;
}


/* Media Queries
-----------------------------------*/

/* Largest  */
@media (min-width: 1701px) {
  .tei .body {
      font-size: 15px;
      line-height: 2;
    }
    #paged-tei-seadragon-viewer-tei {
      padding: 30px 60px 20px 60px;
    }
}
/* Very Large  */
@media (max-width: 1700px) {
  .tei .body {
      font-size: 15px;
      /*color: blue;*/
      line-height: 2;
    }
  #paged-tei-seadragon-viewer-tei {
    padding: 30px 30px 20px 25px;
  }
}
/* Large */
@media (max-width: 1200px) {
  .tei .body {
      font-size: 15px;
      /*color: red;*/
      line-height: 1.9;
    }
  #paged-tei-seadragon-viewer-tei {
    padding: 30px 25px 20px 25px;
  }
}
/* Main */
@media (max-width: 1000px) {
  .tei .body {
      font-size: 14px;
      /*color: green;*/
      line-height: 1.9;
    }
  #paged-tei-seadragon-viewer-tei {
    padding: 30px 15px 20px 25px;
  }
  .tei br {
      content: "A" !important;
      /*margin-bottom: 1.5em !important;*/
      border-right: 1px dotted #7cbcff;
      border-bottom: none;
      display: inline;
      height: 17px;
      width: 4px;
      margin: 0 5px;
  }
  .diary-page-class .basic-page-title {
    left: 248px;
    font-size: 14px;
  }
  .navbar-brand img {
    width: 150px;
    padding-top: 4px;
  }
}




/* Small */
@media (max-width: 768px) {
  .tei .body {
    font-size: 13px;
    line-height: 1.8;
    /*color: lightblue;*/
    white-space: normal;
    }

  #paged-tei-seadragon-viewer-tei {
    padding: 30px 15px 20px 15px;
    top: 90px;
    width: 100%;
    z-index: 60000;
  }
  #paged-tei-seadragon-viewer-tei.hide {
      display: none;
  }
  #paged-tei-seadragon-viewer-seadragon-pane{
      width: 100%;
      left: 0;
      right: 0;
  }
  /*#paged-tei-seadragon-viewer-seadragon-pane.show{
      display: block!important;
      width: 100%!important;
      top: 90px!important;
      left: 0!important;
      right: 0!important;
      bottom: 0!important;

  }*/
  .region-sidebar-second{
      display: none;
  }
  .region-sidebar-second.show{
      display: block;
        width: 100%!important;
        left: 0;
        right: 0!important;
        z-index: 50000;
  }

  #roch-tei-viewer-occluded {
    padding: 0;
    }
  /*Positioning Elements for mobile*/
  #paged-tei-seadragon-viewer-seadragon-pane,
  #paged-tei-seadragon-viewer-tei,
  .region-sidebar-second{
      top: 133px!important;
    }


    .paged-tei-seadragon-viewer-left-toolbar {
        top: 50px;
        right: 0;
        left: auto;
        background: transparent;
        color: gray;
        padding: 7px 15px;
        text-align: right;
    }
  .navbar-default {
    padding-right: 0;
  }



  .tei br {
    content: "A" !important;
    /*margin-bottom: 1.5em !important;*/
    border-right: 1px dotted #7cbcff;
    border-bottom: none;
    display: inline;
    height: 17px;
    width: 4px;
    margin: 0 5px;
  }
  .diary-page-class .basic-page-title {
      left: 0;
      margin: auto;
      width: 100%;
      display: block;
      right: 0;
      text-align: left;
      font-size: 14px;
      position: absolute;
      top: 64px;
      padding-left: 15px;
  }
  .navbar-brand img {
    width: 150px;
    padding-top: 4px;
  }

   /* Hiding things on mobile */
   .paged-tei-seadragon-viewer-download-datastreams a,
   .page-link a,
   a#islandora-paged-tei-seadragon-navigate-left,
   a#islandora-paged-tei-seadragon-navigate-right{
       display: none;
   }
}
