@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);


.hide {display: none;}



/* BRANDING
-----------------------------------*/
.may-b-signature {
    position: absolute;
    z-index: 100;
    width: 22%;
    top: 39px;
}
.logo-fade{
    display: none;
}
.logo-fade.in{
    display: block;
}


/* ABOUT SECTION
-----------------------------------*/
.tagline-section {
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: black;
}

.carousel {
    position: relative;
    /*margin-top: 50px;*/
}
/* Firefox fix to remove black bar */
@-moz-document url-prefix() {
  .carousel {
     top:-50px;
  }
}
.carousel-indicators li {
    opacity: 0.6;
}
.car-img img{
  width: 100%;
  height: auto;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width:none;
    width: 100%;
    height: auto;
}
.carousel-caption {
    position: fixed;
    top: auto;
    left: 0;
    /* border: 1px solid red; */
    display: block;
    width: 45%;
    height: 90px;
    text-align: center;
    right: 0;
    bottom: 380px;
    padding: 25px;
    margin: auto;
    /* margin: 0; */
    z-index: 100000;
    background: rgba(0,0,0,0.2);
}


/* COVER
-----------------------------------*/
.cover {
  width: 100%;
  margin-top: -50px;
  }
  .cover.jump {
      margin-top: 0px;
      }

.tagline {
  width: 600px;
  color: white;
  font-size: 20px;
  font-weight: 100;;
  position: absolute;
  top: 120px;
}
/**/


.mobile-cover {
    display: none;
    }

.car-cap {
    position: absolute;
    font-size: 12px;
    color: gray;
    bottom: 75px;
    text-align: right;
    width: 348px;
    margin: auto;
    right: 0;
    border-radius: 5px;
    padding: 10px 15px;
}
.cap-quote{
  font-family: 'Merriweather', serif;
  font-size: 17px;
  display: block;
}
.cap-date{
  font-size: 13px;
  display: block;
  color: lightgray;
}

.carousel-control {
    width: 70px;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    right: 15%;
}
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    left: 15%;
}
/*.carousel-caption a {
  color: rgba(255, 255, 255, 0.8);
}
.carousel-caption a:hover,
.carousel-caption a:focus {
  color: #FFF;
  text-decoration: none;
}*/

.car-cap a {
  color: rgba(255, 255, 255, 1);
}
.car-cap a:hover,
.car-cap a:focus {
    text-decoration: none;
}
.car-cap:hover,
.car-cap:focus {
  background: rgba(0, 0, 0, 0.3);
}

i.fa.fa-angle-left {
    position: absolute;
    top: 200px;
    bottom: auto;
    font-size: 60px;
    left: 15%;
}

i.fa.fa-angle-right {
    position: absolute;
    top: 200px;
    bottom: auto;
    font-size: 60px;
    right: 15%;
}
.scroll-hint {
  z-index: 4000;
  position: fixed;
  padding-bottom: 10px;
  padding-top: 60px;
  bottom: 0;
  /*height: 400px;*/
  left: 0;
  right: 0;
  text-align: center;
  /*Gradient BG*/
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.89) 72%, rgba(0,0,0,0.9) 73%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.89) 72%,rgba(0,0,0,0.9) 73%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.89) 72%,rgba(0,0,0,0.9) 73%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e6000000',GradientType=0 ); /* IE6-9 */
  /*Animation*/
  opacity: 1;
  transition: opacity .50s ease-in-out;
  -moz-transition: opacity .50s ease-in-out;
  -webkit-transition: opacity .50s ease-in-out;
}
.scroll-hint.test {
  opacity: 0;
  }
  .scroll-hint.gone {
    display: none;
  }

  .scroll-hint-text{
    color: lightgray;
    font-size: 18px;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    display: block;

  }


.scroll-hint{
  color: gray;
}
.scroll-hint-title {
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
}

.scroll-hint:hover,
.scroll-hint:focus,
i.fa.fa-angle-down:hover,
i.fa.fa-angle-down:focus  {
  color: white;
  text-decoration: none;
}

i.fa.fa-angle-down {
    display: block;
    font-size: 30px;
}
.about-sec {
  padding: 100px 50px 100px 50px;
}

.about-sec p {
  color: white;
  font-size: 25px;
  font-weight: 100;
  font-family: 'Merriweather', serif;
  text-align: center;
}


.hp-search-big {
    margin: auto;
    width: 50%;
    margin-bottom: 40px;
    font-size: 18px;
    }
.hp-search-big form input{
    width: 90%;
    background-color: #e7e7e7;
    border: none;
    height: 60px;
    font-size: 18px;
    float: left;
    border-radius: 5px 0 0 5px;
    }
.hp-search-big form input:focus{
    width: 90%;
    outline: none;
    background-color: white;
    }
.hp-search-big .btn{
    height: 60px;
    font-size: 23px;
    width: 10%;
    background-color: white;
    color: black;
    border: none;
    border-radius: 0px 5px 5px 0px;
    }
.hp-search-big .btn:hover{
    background-color: #e7e7e7;
    }

/* Tagline
-----------------------------------*/

.cover-logo{
  width: 70%;
}


.tagline-hint{
  color: lightgray;
  font-size: 22px;
  width: 100%;
  font-weight: 100;
  text-align: center;;
  margin: auto;
  font-family: 'Merriweather', serif;
  padding-bottom: 30px;
  padding-top: 50px;
}

.scroll-hint-text a {color: gray;}
.scroll-hint i  {color: gray;}
.scroll-hint-text a:hover {
  text-decoration: none;
  color: white;
}


/* Boxes
-----------------------------------*/

.main-boxes-heading{
  color: gray;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-bottom: 30px;

}

/*.boxes div:nth-child(5),
.boxes div:nth-child(6){
    width: 50%;
}*/

.box {
    width: 50%;
    float: left;
    border: 1px solid black;
}
.box-images {
    /*height: auto;*/
    width: 100%;
    opacity: 0.9;
    }
    .box-images:hover {
      opacity: 1;
      }
.box-text {
    position: relative;
    }
.box-headline {
    font-family: 'Merriweather', serif;
    position: absolute;
    bottom: 97px;
    font-size: 35px;
    color: white;
    font-weight: 100;
    }

.box-page-count {
    position: absolute;
    color: white;
    z-index: 500;
    bottom: 18px;
    width: 100%;
    text-align: center;
    color: gray;
}

.box-date{
    font-family: 'Merriweather', serif;
    display: block;
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    text-align: center;
    right: 0;
    left: 0;
    font-weight: 100;
    padding: 10px 10px 40px 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    }
.box-odd{border-left: none;}
.box-even{border-right: none;}






/* FOOTER
--------------------------------*/

.footer{
      padding-top: 0;
      background-color: #021e47;
      width: 100%;
      margin: 0;
      color: #919aaf;
      border-top: none;
}
.footer a{
    color: #76acff;
}
.footer a:hover{
    color: white;
}
.footer-left,
.footer-right{
  width: 50%;
  float: right;
  margin-top: 40px;
  font-size: 12px;
}
.footer-left ul {list-style: none;}

.footer-right{
  text-align: right;
}

.footer-uofr-logo {
    width: 270px;
    height: auto;
    display: block;
    margin-top: 20px;
    }
/**/


.car-thumbs ol li img {
  position: absolute;
  width: 100px;
  height: auto;
  z-index: 2000;
  bottom: 50px;
}


.mayb-signature {
  width: 80%;
}

.vertical-line hr {
  color: white;
  border: 1px solid white;
  height: 500;
}


div.vertical-line{
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  float: left; /* Causes the line to float to left of content.
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
}

/* MEDIA QUERIES
--------------------------------*/

/* Height Based   */

/* Tall Screens*/
/*@media (min-height: 768px) {
  .tagline-hint {
    font-size: 25px;
  }
  .scroll-hint {
    padding-bottom: 20px;
    padding-top: 100px;
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(80%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  }
}*/

/* Taller Screens */
/*@media (min-height: 900px) {
  .scroll-hint {
    padding-bottom: 50px;
    padding-top: 100px;
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 35%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(35%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 35%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 35%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 35%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 35%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  }
  .tagline-hint{
    padding-bottom: 80px;
  }
}*/

/* Tallest Screens */
@media (min-height: 1100px) {
    .scroll-hint {display: none;}
}

/* Width Based */
@media (max-width: 768px) {
    /*Removing the UofR logo on mobile*/
    .right-logo-container{display: none;}
    .left-logo-container{width: 100%;}
    /**/
    /* Reverting padding on search box for mobile */
    .navbar-form{
        padding: 10px 10px;
        margin: 0;
        border-top: none;
        border-bottom: none;
        }
    /**/
    .navbar :focus {outline:none;}
    /**/
    /*.navbar-default {background: rgba(0, 0, 0, 1);}*/
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
        }
    /**/
    /* Tagline move below cover */
    .tagline {
        width: 100%;
        font-size: 15px;
        /*font-weight: 300;*/
        position:static;
        padding: 20px;
        }
    /**/
    /**/
    /**/
    .box-headline,
    /**/
    .box { width: 100%;}
    /**/
    .footer-left,
    .footer-right{
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }
    /**/
    .footer-uofr-logo {
        padding-top: 20px;
        margin: auto;
        }
    /**/
    /**/
    .tagline-hint{
      font-size: 14px;
      position: absolute;;
      top: 595px;
      margin: auto;
      left: 0;
      right: 0;
      text-align: center;
    }
    /**/
    .about-sec p {
      font-size: 16px;
    }
    /**/
    .mobile-cover {
      display: block;
    }
    /**/
    .mobile-cover img{
      width: 100%;
      height: auto;
      /*margin-top: -50px;*/
    }
    /**/
    /**/
    .hp-search-big {
      width: 90%;
    }
    /**/
    .box-images {opacity: 1;}
    /**/
    .hp-search-big .btn {
    font-size: 18px;
    width: 15%;
    }
    /**/
    input.form-control.navbar-search-grow {
    width: 85%;
    margin: auto;
    }
    /**/
    .header-search .btn {
    display: none;
    }
    /**/
    input.form-control.navbar-search-grow {
    width: 100%;
    margin: auto;
    }
    /**/
    /**/
    .hp-search-big form input{
        width: 85%;
        }
    /**/
    /**/
    .header-search .form-control {
    border-radius: 5px;
    }
    /**/
    .navbar-brand-uofr-logo {
    width: 374px;
    height: auto;
    margin-left: -10px;
    text-align: center;
    }
    /**/
    /**/
    .box-date {
    font-size: 15px;
    }
    /**/
    .no-mobile {display: none;}
    /**/
}
