
body, html {
  height:100%;
  width:100%;
  overflow: hidden;
  background-color: black;
}
/* Hack to remove the view tab on the inclusion page */
.inlusion-page-tabs .nav-tabs li.active  a{
  display: none !important;
}

.openseadragon-canvas {
    background: black!important;
}
