
body, html {
  height:100%;
  width:100%;
  overflow: hidden;
  min-width: 768px;
  background-color: #30343b;
}
/* Hack to remove the view tab on the inclusion page */
.inlusion-page-tabs .nav-tabs li.active  a{
  display: none !important;
}
