
/* Back Button
-----------------------------------*/
.back-to-diary a{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 15px;
    background-color: #30343b;
    padding: 14px 20px 14px 43px;
    height: 50px;
    color: white;
    color: white;
    text-decoration: none;
}
.logged-in .back-to-diary a {
    top:20px;
}
/* Arrow Icon */
.inclusion-page-class i.fa.fa-angle-left {
    position: absolute;
    top: 0;
    bottom: auto;
    font-size: 49px;
    color: white;
    left: 12px;
    z-index: 1500;
}
.back-to-diary a:hover,
.back-to-diary a:focus{
    background-color: #50555e;
}

.inclusion-page-class .alert-messages-container{
}



/* Viewer Pane
-----------------------------------*/

.islandora-large-image-content-wrapper {
    width: 85%;
    position: absolute;
    top: 0;
    height: 100%;
}
.islandora-large-image-content {
    background: #30343b;
    border: none;
}
form.openseadragon-container {
    width: 100%!important;
    background: black!important;
}
a#clip {
    display: none;
}
/* Additional info
-----------------------------------*/

.item-metadata {
    position: fixed;
    z-index: 1000;
    left: 0;
    pointer-events: none;
    bottom: 0;
    /*background: rgba(0,0,0,0.5);*/
    width: 85%;
    padding: 100px 40px 20px 40px;
    color: lightgray;
    /*Gradient*/
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}
.logged-in .item-metadata,
.logged-in .islandora-large-image-metadata {
    bottom: 42px;
}
.item-metadata-label {
    display: none;
}
/* Title */
.item-metadata > div:last-of-type {
    font-size: 17px;
    font-family: 'Merriweather', serif;
    color: white;
    font-weight: 100;
}

.islandora-large-image-metadata {
    display: block;
    clear: both;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.islandora-large-image-metadata {
    display: block;
    clear: both;
    color: white;
    position: fixed;
    z-index: 1000;
    left: 0;
    pointer-events: none;
    bottom: 0;
    /*background: rgba(0,0,0,0.5);*/
    width: 85%;
    padding: 100px 40px 20px 40px;
    color: lightgray;
    /*Gradient*/
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.islandora-large-image-metadata .notes,
.islandora-large-image-metadata a,
.islandora-large-image-metadata .head{
    pointer-events: all;
}
.islandora-large-image-metadata .note {
    color: white;
    cursor: pointer;
    display: inline;
}
.islandora-large-image-metadata .note i{
    color: white;
    opacity: 0.7;
    font-weight: bold;
    display: inline;
    left: 3px;
}
.islandora-large-image-metadata .note i:hover{
    opacity: 1;
}
/*.islandora-large-image-metadata a {
    color: white;
    border-bottom: 2px solid gray;
    cursor: pointer;
}*/
/*.islandora-large-image-metadata a:hover {
    text-decoration: none;
}*/

.islandora-large-image-metadata a.persName[data-ref],
.islandora-large-image-metadata a.placeName[data-ref],
.islandora-large-image-metadata a.orgName[data-ref],
.islandora-large-image-metadata a.title[data-ref],
.islandora-large-image-metadata a.name[data-ref]{
    color: white;
    border-bottom: 2px solid gray;
    cursor: pointer;
}
.islandora-large-image-metadata a.persName[data-ref]:hover,
.islandora-large-image-metadata a.placeName[data-ref]:hover,
.islandora-large-image-metadata a.orgName[data-ref]:hover,
.islandora-large-image-metadata a.title[data-ref]:hover,
.islandora-large-image-metadata a.name[data-ref]:hover {
    border-bottom:2px solid white;
    cursor: pointer;
    text-decoration: none;
}


/* Nav overides
-----------------------------------*/
.inclusion-page-class .navbar-default {
  background: black;
  border-bottom: 1px solid #3c4049;
  padding-right: 30px;
}
/* Moving the logo for the "back to diary" btn */
.inclusion-page-class .navbar-default .navbar-brand {
    color: #777;
    margin-left: 153px;
}






/* Admin Tabs
-----------------------------------*/
.inclusion-page-class .tab-container-edit-screens {
    position: fixed;
    z-index: 999;
    bottom: 0px;
    left: 0px;
    background: rgba(0,0,0,0.7);
    width: 100%;
    border-top: 1px solid #3c4049;
}
.inclusion-page-class .nav-tabs {
    border-bottom: none;
    margin: 0;
    width: 100%;
    margin: auto;
}
.inclusion-page-class .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
}
.inclusion-page-class .inclusion-pass-tabs .nav > li > a {
    position: relative;
    display: block;
    padding: 5px 9px;
}
.not-logged-in .inclusion-page-class .tab-container-edit-screens {
  display: none;
}
/**/




/* Right Side Inclusions Pane
-----------------------------------*/
.inclusion-page-class .inclusion-sidebar .region.region-sidebar-second{
  float: left;
  width: 15%;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 50px;
  bottom: 0;
  padding: 1% 0 0 1%;
  background-color: #1a1d21;
}
.inclusion-page-class .inclusion-sidebar .region.region-sidebar-second .inclusion-label {
  display: block;
  color: white;
  font-size: 11px;
  position: relative;
  top: 20px;
  left: 0px;
  background: black;
  width: 50px;
  text-align: center;
  text-transform: uppercase;
  opacity: .6;
  padding: 2px;
}


.inclusion-page-class .islandora-compound-thumb,
.inclusion-page-class .islandora-compound-thumbs{
   border: none;
}

.inclusion-page-class .islandora-compound-thumbs img.active,
.inclusion-page-class .islandora-compound-thumbs img {
    border: none;
    width: 100%;
}

/* Making back look closed to front */
.inclusion-label.label-1,
.inclusion-label.label-2,
.inclusion-label.label-3 {
    margin-top: -38px;
}

.islandora-compound-title {
    color: gray;
}
/*//*/


/* Media Queries
-----------------------------------*/

/* Largest  */
@media (min-width: 1701px) {
}
/* Very Large  */
@media (max-width: 1700px) {
}
/* Large */
@media (max-width: 1200px) {

}
/* Main */
@media (max-width: 1000px) {
}
/* Small */
@media (max-width: 768px) {
}
