
/* Back Button
-----------------------------------*/
.back-to-diary {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 15px;
    background-color: #30343b;
    padding: 14px 20px;
    height: 50px;
    color: white;
}
a .back-to-diary {
    color: white;
    text-decoration: none;
}
.logged-in .back-to-diary {
    top:20px;
}


/* Additional info
-----------------------------------*/

/* Removing the details for now */
.inclusion-page-class .islandora-large-image-metadata {
    display: none;
}

/* Nav overides
-----------------------------------*/
.inclusion-page-class .navbar-default {
  background: black;
  border-bottom: 1px solid #3c4049;
}
/* Moving the logo for the "back to diary" btn */
.inclusion-page-class .navbar-default .navbar-brand {
    color: #777;
    margin-left: 140px;
}



/* Admin Tabs
-----------------------------------*/
.inclusion-page-class .tab-container-edit-screens {
    position: fixed;
    z-index: 999;
    bottom: 0px;
    left: 0px;
    background: rgba(0,0,0,0.7);
    width: 100%;
    border-top: 1px solid #3c4049;
}
.inclusion-page-class .nav-tabs {
    border-bottom: none;
    margin: 0;
    width: 100%;
    margin: auto;
}
.inclusion-page-class .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
}

.inclusion-page-class .inclusion-pass-tabs .nav > li > a {
    position: relative;
    display: block;
    padding: 5px 9px;
}
.not-logged-in .inclusion-page-class .tab-container-edit-screens {
  display: none;
}

/* Right Side Inclusions Pane
-----------------------------------*/
.inclusion-page-class .inclusion-sidebar .region.region-sidebar-second{
  float: left;
  width: 15%;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 50px;
  bottom: 0;
  padding: 1% 0 0 1%;
  background-color: #30343b;

}

.inclusion-page-class .inclusion-sidebar .region.region-sidebar-second .inclusion-label {
  display: block;
  color: white;
  font-size: 11px;
  position: relative;
  top: 20px;
  left: 0px;
  background: black;
  width: 50px;
  text-align: center;
  text-transform: uppercase;
  opacity: .6;
  padding: 2px;
}


.inclusion-page-class .islandora-compound-thumb,
.inclusion-page-class .islandora-compound-thumbs{
   border: none;
}

.inclusion-page-class .islandora-compound-thumbs img.active,
.inclusion-page-class .islandora-compound-thumbs img {
    border: none;
    width: 100%;
}

/* Making back look closed to front */
.inclusion-label.label-1,
.inclusion-label.label-2,
.inclusion-label.label-3 {
    margin-top: -38px;
}

.islandora-compound-title {
    color: gray;
}
/*//*/


/* Media Queries
-----------------------------------*/

/* Largest  */
@media (min-width: 1701px) {
}
/* Very Large  */
@media (max-width: 1700px) {
}
/* Large */
@media (max-width: 1200px) {

}
/* Main */
@media (max-width: 1000px) {
}
/* Small */
@media (max-width: 768px) {
}
