


.page-title-wrapper{
    }

.basic-page-title{
    font-size: 50px;
    border: none;
    }

.basic-page-content{
    border: none;
    }

@media (max-width: 768px) {
    .basic-page-title   {font-size: 45px;}
    .navbar-brand-rcl-logo{
        width: 55%;
    }
    .navbar-brand-dp-logo{
        width: 40%;
    }
    .left-logo-container{
        text-align: center;
    }
    .navbar-nav {
        margin: 0;
    }

}
