
/*.islandora-objects-grid div.diary-page-image-wrapper:first-child {
    display: none;
}*/
.diary-page-image-wrapper {
    width: 24%;
    float: left;
    height: 390px;
    position: relative;
    margin: 5px;


}
.page-number-prefix,
.diary-page-number{
    display: inline;
    color: white;
}

/*.islandora-objects-grid div.diary-page-image-wrapper:nth-child(odd) {
    margin-right: 2%;
}*/

.diary-page-number-wrapper {
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 5px 15px 9px;
    font-size: 18px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}


.pages-page-class .basic-page-title {
    font-size: 16px;
    border: none;
    color: white;
    font-weight: 100;
    float: left;
    /* padding: 0; */
    position: absolute;
    margin: 0;
    left: 40%;
    top: 16px;
    right: 0;
    /* padding-top: 12px; */
}


.pages-page-class dd.islandora-object-caption {
    display: none;
}

.islandora-objects-display-switch {
    display: none;
}

.pages-page-class .inside-nav {
    background-color: black;
    margin-bottom: 0;
}

.pages-page-class .back-to-diary-btn a{
    width: auto;
    border: 1px solid gray;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}

/*Images*/
.pages-page-class .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
    -webkit-box-shadow: 5px 5px 6px -2px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 6px -2px rgba(0,0,0,1);
    box-shadow: 5px 5px 6px -2px rgba(0,0,0,1);
}


/* Pager*/
.pages-page-class .pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: lightgray;
    text-decoration: none;
    background: transparent;
    border: 1px solid #ddd;
}

.pages-page-class .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #5d6b84;
    border-color: #5d6b84;
}

.pages-page-class .pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: lightgray;
    text-decoration: none;
    /* background-color: #fff; */
    border: 1px solid gray;
}
.pages-page-class .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #53585f;
    border-color: gray;
}

dd .page-number-prefix{
    color: white;
}

dd .diary-page-number{
    color: white;
}
