

.islandora-solr-sort .img-responsive {
    width: auto;
    display: inline-block;
    height: 13px;
}
section#block-islandora-solr-sort ul a {
    list-style-type: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 5px 20px;
    top: 184px;
    right: 7%;
    text-align: right;
    position: absolute;
    z-index: 5000;
}
section#block-islandora-solr-sort a:hover {
    text-decoration: none;
    background: #eeeeee;
}


/* Removing the page title - We should have the search term be the title */
.col-sm-9 .basic-page-title {
    display: none;
}


aside.col-sm-3 {
    position: static;
}


/* Removing title & Subjects Heading */
dt.solr-label.mods-subject-name-displayform-mt,
dt.solr-label.mods-titleinfo-title-ms {
    display: none;
}

/* Removing padding on title/metadata */
.islandora-inline-metadata dd {
    padding-left: 0;
    width: 100%;
}

section#block-islandora-solr-basic-facets ul {
    padding-left: 0;
}
section#block-islandora-solr-basic-facets ul li{
    list-style-type: none;
}

.islandora-solr-facet-wrapper h3 {
    font-size: 16px;
}


@media (min-width: 768px){
    .col-sm-3 {
        width: 35%;
    }
    .col-sm-9 {
        width: 65%;
    }
}

.may-b-search {
    display: block;
    float: left;
    font-weight: 500;
    font-size: 18px;
}

#islandora-solr-result-count {
    display: block;
    text-align: right;
}
/*Removing plus/minus*/
.plusminus{
    display: none;
}

/* Removing borders on search results */
dl.solr-fields {
    border-top: none;
}
.solr-fields dt, .solr-fields dd {
    border-top: none;
}
ul.islandora-solr-sort li {
    list-style-type: none;
}


@media (max-width: 768px) {
    section#block-islandora-solr-sort ul a{
        list-style-type: none;
        font-weight: bold;
        font-size: 16px;
        border-top: 1px solid lightgray;
        margin-top: 28px;
        padding-top: 10px;
        text-align: left;
        position:static;
    }
    ul.islandora-solr-sort li {
        margin-top: 30px;
    }
}
